<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyx.dao.UserMapper">
    <select id="findOne" resultType="User" >
        select * from user
        <where>
            <if test="name != null">
             and name = #{name}
             </if>
             <if test="id != 0">
             and id = #{id}
             </if>
         </where>
    </select>

    <sql id="forUser">#{number},#{name},#{pwd},#{phone},#{email},#{img},#{qq},#{job},#{university},#{link},#{target},#{brother},#{createTime},#{updateTime}</sql>
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
        insert into user(number,name,pwd,phone,email,img,qq,job,university,link,target,brother,createTime,updateTime)
        values
        (<include refid="forUser"></include>);
    </insert>


</mapper>


